  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 120%;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 5%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 80%;
  padding: 0;
  background-color:#121212;
  border-radius: 10px;
}

#title {
padding: 10px;
text-align: center;
background-color: #121212;
color:white
}