  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 5%;
  z-index: 2;
}

#logo {
border-radius: 15px;
width: 150px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 80%;
  padding: 0;
  background-color:#121212;
  border-radius: 10px;
}

#title {
padding: 10px;
z-index: 2;
text-align: center;
background-color: #121212;
color:white
}